# Build Folders
bin/
obj/

# User-specific Files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore DLLs
*.dll

# Logs
*.log

# Config files
appsettings*.json

# Rider files 
.idea/

# Visual Studio Code
.vscode/

# Backup Files
*.bak

# Ignorar archivos binarios y generados automáticamente
bin/
obj/

# Archivos de configuración específicos del entorno
*.user
*.suo

# Archivos temporales
*.log
*.cache
*.temp

# Archivos de lock específicos de dependencias
project.lock.json
*.lock.json